<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DFULibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Zip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52C12B5D1C6B8B28004D9DB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C12B671C6B8B28004D9DB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C12BB21C6CB8DC004D9DB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C12BBB1C6CB8DC004D9DB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
